{block content}

<div class="text-rose-600 rounded shadow-xl bg-white p-8 my-2 w-1/2 mx-auto relative">
    <h1 n:block=title>Access Denied</h1>

    <p>You do not have permission to view this page. Please try contact the web
    site administrator if you believe you should be able to view this page.</p>

    <p><small>error 403</small></p>
</div>
